<nav class="navbar navbar-expand-lg navbar-dark ev-navbar shadow-sm">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/adminhome">
            <i class="fa-solid fa-shield-halved me-2"></i>Admin Portal
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#adminNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="adminNav">
            <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-2">
                <li class="nav-item"><a class="nav-link" href="/adminhome">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="/adminview_charge">Centers</a></li>
                <li class="nav-item"><a class="nav-link" href="/adminViewcomplaint">Complaints</a></li>
                <li class="nav-item"><a class="nav-link" href="/adminViewfeedback">Feedback</a></li>
                <li class="nav-item"><a class="nav-link" href="/adminViewusers">Users</a></li>
                <li class="nav-item"><a class="btn btn-outline-light btn-sm fw-semibold px-3" href="/">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>