<nav class="navbar navbar-expand-lg navbar-dark ev-navbar shadow-sm">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/centerhome">
            <i class="fa-solid fa-plug-circle-bolt me-2"></i>Charge Center Hub
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#chargingNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="chargingNav">
            <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-2">
                <li class="nav-item"><a class="nav-link" href="/centerhome"><i class="fa-solid fa-gauge-high me-1"></i>Overview</a></li>
                <li class="nav-item"><a class="nav-link" href="/viewbookings"><i class="fa-solid fa-calendar-check me-1"></i>Bookings</a></li>
                <li class="nav-item"><a class="nav-link" href="/viewusers"><i class="fa-solid fa-users me-1"></i>Users</a></li>
                <li class="nav-item"><a class="nav-link" href="/centercomplaint"><i class="fa-solid fa-headset me-1"></i>Complaints</a></li>
                <li class="nav-item"><a class="nav-link" href="/centerfeedback"><i class="fa-solid fa-comment-dots me-1"></i>Feedback</a></li>
                <li class="nav-item"><a class="btn btn-outline-light btn-sm fw-semibold px-3" href="/"><i class="fa-solid fa-right-from-bracket me-1"></i>Logout</a></li>
            </ul>
        </div>
    </div>
</nav>